---
import ShadowBox from "@/components/ui/ShadowBox.astro";
const { associazione, città, immagine, testo, rabbini } = Astro.props;
---

<ShadowBox class="p-4">
  <section>
    {
      immagine && (
        <img
          class="w-full aspect-video my-2"
          src={immagine}
          alt="main article image"
        />
      )
    }

    <h2 class="mt-2 text-2xl font-display">
      {testo}
    </h2>

    <div class="flex gap-2 items-center font-raleway text-blue-950 uppercase">
      <h2 class="whitespace-nowrap font-bold">
        {associazione}
      </h2>
      <p class="font-medium">
        {città}
      </p>

      <div class="w-full"></div>
    </div>
    <div class="flex">
      <p class="text-xs font-raleway font-medium">Rav A.Hazan, Rav Kaplan</p>
      <button
        class="justify-end bg-blue-950 border border-white text-white font-raleway uppercase font-semibold px-16 py-2 mt-4 ml-auto mr-0">
        <p>dona</p></button
      >
    </div>
  </section>
</ShadowBox>
