---
import { throwError } from "@/lib/shared/error";
import supabase from "@/lib/server/supabase";

const videoLive = await supabase
  .from("live_video")
  .select("youtube_link, title")
  .order("date", { ascending: false })
  .limit(2)
  .then(({ data, error }) => {
    if (error) {
      throwError("Live page", "Error fetching lives: " + error.message);
    }
    return data || [];
  });

const imgVideo = "/images/video-prova.jpg";
---

{
  videoLive.map((v) => (
    <>
      <div class="flex flex-col">
        <div
          set:html={v.youtube_link}
          class="[&>iframe]:w-full [&>iframe]:max-w-full [&>iframe]:h-full [&>iframe]:max-h-full"
        />
        <h2 class="text-xl leading-[1.2] xs:text-lg xs:leading-[1.2] font-display mt-2 md:-mt-6">
          {v.title}
        </h2>
      </div>
    </>
  ))
}
