---
import ShadowBox from "@/components/ui/ShadowBox.astro";
---

<ShadowBox>
  <div class="p-4">
    <h3
      class="text-blue-950 font-semibold font-raleway text-2xl md:text-xl lg:text-2xl leading-tight uppercase">
      Newsletter
    </h3>
    <p class="italic font-raleway text-neutral-700 mt-1 mb-2">
      Iscriviti alla newsletter per essere sempre aggiornato!
    </p>
    <div
      class="flex focus-within:ring-1 focus-within:ring-blue-900 focus-within:outline-none border border-neutral-200 rounded-lg shadow-md">
      <p class="ml-2 mr-1 my-1 text-blue-950">@</p>
      <p class="my-1 mr-1 text-blue-950">|</p>
      <input
        type="text"
        class="w-full focus:outline-none rounded-lg"
        id="email-input"
      />
    </div>
    <div class="bg-red-700 w-fit py-1 px-4 cursor-pointer mt-4">
      <span class="text-center text-white font-montserrat">ISCRIVITI</span>
    </div>
  </div>
</ShadowBox>
