---
const { class: className } = Astro.props;
---

<div
  class:list={[className, "shadow-box bg-slate-50 border border-neutral-200"]}
>
  <slot />
</div>

<style>
  .shadow-box {
    box-shadow: 0 0 5px #00000030;
  }
</style>
