<div class="group relative">
  <slot />
  <div
    class="absolute top-1/2 -translate-y-1/2 left-full translate-x-2 opacity-0 group-hover:opacity-100 transition-opacity duration-0 group-hover:delay-300 pointer-events-none">
    <slot name="tooltip" />
  </div>
</div>
