---
import ContributeSection from "@/components/contribute/ContributeSection.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import EventsPageSection from "@/components/events/EventsPageSection.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { checkLangParam, getTranslations } from "@/lib/server/lang/lang";
import { errorResponse } from "@/lib/server/error-response";
import { Image } from "astro:assets";
import imageCasuale from "@/images/parshat/acharei-kedoshim.jpeg";

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const t = await getTranslations("pages/contribute", Astro.url);
---

<PageLayout title="Contribute" description="bla bla">
  <section slot="title" class="h-6"></section>

  <section slot="content-1">
    <div class="relative mb-4">
      <img
        src="/images/fundraising.jpg"
        alt="immagine a caso"
        class="w-full object-cover aspect-[9/4]"
      />
      <div
        class="absolute flex items-center gap-3 w-full h-fit bg-blue-950 opacity-60 bottom-0 px-6 py-4 z-10"
      >
        <div>
          <img
            class="w-24 flex-grow shadow-md"
            src="/images/icons/logo-blanco.svg"
            alt="logo bianco chabad"
          />
        </div>

        <h1
          class="text-white font-raleway font-bold text-2xl uppercase flex-shrink shadow-md"
          style="text-shadow: 0 0 5px rgb(37, 37, 37)"
        >
          {t("main-title")}
        </h1>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <ContributeSection />
    </div>
  </section>
  <section slot="sidebar" class="md:flex flex-col gap-4">
    <div class="m-4 md:m-0">
      <!-- <EventsPageSection /> -->
    </div>

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>
</PageLayout>
