<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Not Found</title>
  </head>
  <body class="grid place-items-center h-[80vh]">
    <div class="text-center">
      <div class="font-medium p-[2vw] text-[10vw] leading-[0.8]">err 404: Not Found!</div>
      <a href="/" class="text-blue-500 underline">back to home</a>
    </div>
  </body>
</html>
