---
import Header from "@/components/header/Header.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import BaseLayout from "./BaseLayout.astro";
import Link from "@/components/navigation/Link.astro";
import routes from "@/lib/shared/routes";
import { getTranslations } from "@/lib/server/lang/lang";
import Footer from "@/components/footer/Footer.astro";

const t = await getTranslations("components/layouts/page-layout", Astro.url);

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;

---

<BaseLayout title={title} description={description}>
  <Header />

  <slot name="title" />

  <div class="relative chabad-container grid grid-cols-1 md:grid-cols-4 gap-4 md:gap-2 lg:gap-4 my-4 mx-auto">
    <!-- VERTICAL-LINE -->
    <div class="absolute w-[1px] h-full left-[6px] sm:left-3 md:-left-[1px] top-0 bg-blue-900 -z-[60]"></div>
    <!-- VERTICAL-LINE -->
    <div class="hidden md:block absolute w-[1px] h-full -right-[1px] top-0 bg-blue-900 -z-[60]"></div>

    <!-- VERTICAL-LINE -->
    <div class="md:hidden absolute w-[1px] h-full right-[6px] sm:right-3 md:-right-[1px] top-0 bg-blue-900 -z-[60]">
    </div>

    <div
      class="relative bg-white md:bg-transparent lg:bg-white mx-2 sm:mx-4 md:m-0 p-5 md:px-4 md:py-0 lg:p-5 col-span-3 flex flex-col gap-6">
      <!-- VERTICAL-LINE -->
      <div
        class="hidden md:block absolute w-[1px] h-full -right-[2px] md:right-0 lg:-right-[2px] top-0 bg-blue-900 -z-[60]">
      </div>

      <!-- CONTENT-1 -->
      <slot name="content-1" />
    </div>

    <div
      class="max-md:relative max-md:flex flex-col max-md:col-span-2 lg:bg-white md:bg-transparent bg-white ml-2 sm:mx-4 md:mx-0 pl-2 md:pr-2 lg:px-4 pt-3 md:pt-0 lg:pt-5 row-span-2">
      <!-- VERTICAL-LINE -->
      <div class="absolute w-[1px] h-full left-[6px] sm:left-3 md:-left-[1px] top-0 bg-blue-900 -z-[60]"></div>
      <!-- SIDEBAR -->
      <slot name="menu-article" />
      <slot name="sidebar" />
    </div>

    <div class="relative bg-transparent p-5 col-span-3 flex flex-col gap-6 z-[0]">
      <div
        class="md:hidden absolute w-[1px] h-full -translate-y-4 -translate-x-[14px] sm:-translate-x-[8px] top-0 bg-blue-900 z-[0]">
      </div>

      <!-- CONTENT-2 -->
      <slot name="content-2" />

      <div
        class="hidden md:block absolute w-[1px] h-[calc(100%+3%)] -translate-y-8 md:right-0 lg:-right-[2px] sm:right-[8 px] top-0 bg-blue-900 z-[0]">
      </div>
    </div>

    <!-- NEWSLETTER -->
    <div class="md:hidden relative bg-white mx-2 sm:mx-4 md:m-0 p-3 col-span-3 flex flex-col gap-6">
      <!-- VERTICAL-LINE -->
      <div
        class="absolute w-[1px] h-full -translate-x-[16px] left-[14px] sm:left-3 md:-left-[1px] top-0 -translate-y-20 bg-blue-900">
      </div>
      <Newsletter />
      <!-- <div
          class="md:hidden absolute w-[1px] h-[calc(100%+20%)] -translate-y-12 -right-[3px] sm:right-[8 px] top-0 bg-blue-900 z-[0]">
        </div> -->
    </div>
  </div>

  <div class="h-8 md:hidden"></div>

  <div id="footer">
  <Footer t={t} /></div>
</BaseLayout>
