---
import { translateRoute, type HrefSpec } from "@/lib/shared/lang";

type Props = astroHTML.JSX.AnchorHTMLAttributes & HrefSpec;

const { href, lang, ...props } = Astro.props;
let hrefOk = translateRoute({ href, lang }, Astro.url);
---

<a href={hrefOk} {...props}>
  <slot />
</a>
