---
import ArticlePageSection from "@/components/blog/PageArticleSection.astro";
import EventsPageSection from "@/components/events/EventsPageSection.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import ShadowBox from "@/components/ui/ShadowBox.astro";
import { throwError } from "@/lib/shared/error";
import supabase from "@/lib/shared/supabase";
import { articlesMapper } from "@/lib/shared/supabase/articles";
import PageLayout from "src/layouts/PageLayout.astro";

const articles = await supabase
  .from("articles")
  .select()
  .limit(10)
  .then(({ error, data }) => {
    if (error) {
      throwError("Page News", "Error fetching articles:" + error.message);
    }
    return data?.map(articlesMapper) || [];
  });

const mainArticle = articles.pop()!;
---

<PageLayout title="news" description="">
  <section slot="title">
    <div
      class="grid grid-cols-[1fr_auto_1fr] items-center pt-2 pb-[1px] sm:pt-4 sm:pb-3 px-8">
      <div class="h-0.5 bg-white mr-4 mb-2 ml-9 border-t"></div>
      <h1
        class="text-2xl sm:text-4xl uppercase font-messiri text-white font-bold text-center">
        notizie
      </h1>
      <div class="h-0.5 bg-white ml-4 mb-2 mr-9 border-t"></div>
    </div>
  </section>

  <section slot="content-1" class="flex flex-col gap-4">
    <ArticlePageSection mainArticle={mainArticle} />

    <ShadowBox>
      <div class="p-6">
        <h2
          class="font-raleway text-2xl font-semibold text-blue-950 uppercase mb-4">
          Tutte le notizie
        </h2>
        <div
          class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 gap-x-4 gap-y-6">
          {
            articles.map((a) => (
              <div>
                <img
                  class="w-full aspect-video"
                  src={a.image}
                  alt="main article image"
                />
                <p class="text-lg font-display font-medium mt-2 leading-tight">
                  {a.title}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </ShadowBox>
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <div class="m-4 md:m-0">
      <EventsPageSection
        associazione="Beit chabad"
        nome="Seder di Rosh Hashanah"
        data="89/75/7805"
      />
    </div>

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>
</PageLayout>
