---
import EventsPageSection from "@/components/events/EventsPageSection.astro";
import Newsletter from "@/components/sidebar/Newsletter.astro";
import Parshat from "@/components/sidebar/Parshat.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { errorResponse } from "@/lib/server/error-response";
import { checkLangParam, getTranslations } from "@/lib/server/lang/lang";
import { throwError } from "@/lib/shared/error";
import supabase from "@/lib/server/supabase";
import { eventsMapper } from "@/lib/shared/supabase/events";

if (!checkLangParam(Astro)) {
  return errorResponse(Astro.url);
}

const t = await getTranslations("pages/events", Astro.url);

const events = await supabase
  .from("events")
  .select()
  .limit(10)
  .then(({ error, data }) => {
    if (error) {
      throwError("PAGE Events", "Error fetching events:" + error.message);
    }
    return data?.map(eventsMapper) || [];
  });
---

<PageLayout title="events" description="...">
  <section slot="title">
    <div
      class="grid grid-cols-[1fr_auto_1fr] items-center pt-2 pb-[1px] sm:pt-4 sm:pb-3 px-4"
    >
      <div class="h-0.5 bg-white mr-4 mb-2 ml-9 border-t"></div>
      <h1
        class="text-2xl sm:text-4xl uppercase font-messiri text-white font-bold text-center"
      >
        {t("main-title")}
      </h1>
      <div class="h-0.5 bg-white ml-4 mb-2 mr-9 border-t"></div>
    </div>
  </section>

  <section slot="content-1" class="grid xs:grid-cols-2 xl:grid-cols-3 gap-4">
    {
      events.map((e) => (
        <a href={e.url}>
          <EventsPageSection event={e} />
        </a>
      ))
    }
  </section>

  <section slot="sidebar" class="md:flex flex-col gap-4">
    <div class="hidden md:block">
      <Parshat
        title="acharei kedoshim"
        date="15/giugno/2023"
        image="images/parshat/acharei-kedoshim.jpeg"
      />
    </div>

    <div class="hidden md:block">
      <Newsletter />
    </div>
  </section>
</PageLayout>
